/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Full height */
html, body {
	height: 100%;
	background-color: #454545;
}

#root {
	height: inherit;
}

/* Home */
.home {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home .home-title {
	font-size: 64px;
	color: #FF6000;
	letter-spacing: 5px;
	font-family: 'Sigmar', cursive;
}

.home .home-form {
	width: 25%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.home .home-form .name-input {
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	flex-grow: 2;
	font-family: 'Sigmar', cursive;
	border: none;
}

.home .home-form .home-form-button {
	width: 25%;
	font-family: 'Sigmar', cursive;
	margin: 5px;
	flex-grow: 1;
	border-radius: 10%;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #FF6000;
	cursor: pointer;
}

.home .home-form .home-form-button:hover {
	background-color: #FF6000;
}

/* Lobby */
.lobby {
	color: #FF6000;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.lobby-title {
	font-family: 'Sigmar', cursive;
	letter-spacing: 0.2rem;
	font-size: 3rem;
}

.lobby-teams {
	display: flex;
	height: 50%;
	width: 90%;
	justify-content: space-around;
}

.lobby-team-container {
	width: 20%;
	height: 50%;
	color: #ffffff;
}

.lobby-team-container ul {
	width: 100%;
	height: 100%;
	padding: 2%;
	border-radius: 5%;
}

.blue-team {
	background-color: #26b8f7;
}

.red-team {
	background-color: #f72637;
}